.opc{
    border-radius: 12px;
    display: inline-block;
    text-decoration: none;
    border: 1px #364275;
    width: 70%;
    height: 40px;
    text-shadow: 0 1px 0 #364275;
    font-size: 20px;
    font-family: "Times New Roman", serif;
    cursor: pointer;
}

.opc-green{
    color: rgb(23, 23, 90);
    background-color: white;
}

.opc-green:hover{
    background-color: #b6abd3;
}

.opc-green:active{
    background-color: #9099c4;
}

table{
    width: 70%;
}

.center{
    text-align: center;
}