<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>ServletAlmacen</servlet-name>
        <servlet-class>Controlador.ServletAlmacen</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ServletAutor</servlet-name>
        <servlet-class>Controlador.ServletAutor</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ServletCargo</servlet-name>
        <servlet-class>Controlador.ServletCargo</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ServletCliente</servlet-name>
        <servlet-class>Controlador.ServletCliente</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ServletEditorial</servlet-name>
        <servlet-class>Controlador.ServletEditorial</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ServletIdioma</servlet-name>
        <servlet-class>Controlador.ServletIdioma</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ServletLibros</servlet-name>
        <servlet-class>Controlador.ServletLibros</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ServletMateria</servlet-name>
        <servlet-class>Controlador.ServletMateria</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ServletNotaVenta</servlet-name>
        <servlet-class>Controlador.ServletNotaVenta</servlet-class>
    </servlet>





    <servlet>
        <servlet-name>InsertaAlmacen</servlet-name>
        <servlet-class>Controlador.InsertaAlmacen</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>InsertaAutor</servlet-name>
        <servlet-class>Controlador.InsertaAutor</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>InsertaCargo</servlet-name>
        <servlet-class>Controlador.InsertaCargo</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>InsertaCliente</servlet-name>
        <servlet-class>Controlador.InsertaCliente</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>InsertaEditorial</servlet-name>
        <servlet-class>Controlador.InsertaEditorial</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>InsertaEmpleado</servlet-name>
        <servlet-class>Controlador.InsertaEmpleado</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>InsertaEstante</servlet-name>
        <servlet-class>Controlador.InsertaEstante</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>InsertaIdioma</servlet-name>
        <servlet-class>Controlador.InsertaIdioma</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>InsertaLibros</servlet-name>
        <servlet-class>Controlador.InsertaLibros</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>InsertaMateria</servlet-name>
        <servlet-class>Controlador.InsertaMateria</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>InsertaNotaVenta</servlet-name>
        <servlet-class>Controlador.InsertaNotaVenta</servlet-class>
    </servlet>



    <servlet>
        <servlet-name>UpdateAlmacen</servlet-name>
        <servlet-class>Controlador.UpdateAlmacen</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UpdateAutor</servlet-name>
        <servlet-class>Controlador.UpdateAutor</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UpdateCargo</servlet-name>
        <servlet-class>Controlador.UpdateCargo</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UpdateCliente</servlet-name>
        <servlet-class>Controlador.UpdateCliente</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UpdateEditorial</servlet-name>
        <servlet-class>Controlador.UpdateEditorial</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UpdateEmpleado</servlet-name>
        <servlet-class>Controlador.UpdateEmpleado</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UpdateEstante</servlet-name>
        <servlet-class>Controlador.UpdateEstante</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UpdateIdioma</servlet-name>
        <servlet-class>Controlador.UpdateIdioma</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UpdateLibros</servlet-name>
        <servlet-class>Controlador.UpdateLibros</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UpdateMateria</servlet-name>
        <servlet-class>Controlador.UpdateMateria</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UpdateNotaVenta</servlet-name>
        <servlet-class>Controlador.UpdateNotaVenta</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>ServletAlmacen</servlet-name>
        <url-pattern>/ServletAlmacen</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>InsertaAutor</servlet-name>
        <url-pattern>/InsertaAutor</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>InsertaCargo</servlet-name>
        <url-pattern>/InsertaCargo</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>InsertaCliente</servlet-name>
        <url-pattern>/InsertaCliente</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>InsertaEditorial</servlet-name>
        <url-pattern>/InsertaEditorial</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>InsertaEmpleado</servlet-name>
        <url-pattern>/InsertaEmpleado</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>InsertaEstante</servlet-name>
        <url-pattern>/InsertaEstante</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>InsertaIdioma</servlet-name>
        <url-pattern>/InsertaIdioma</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>InsertaMateria</servlet-name>
        <url-pattern>/InsertaMateria</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>InsertaNotaVenta</servlet-name>
        <url-pattern>/InsertaNotaVenta</url-pattern>
    </servlet-mapping>



    <servlet-mapping>
        <servlet-name>InsertaAlmacen</servlet-name>
        <url-pattern>/InsertaAlmacen</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ServletAutor</servlet-name>
        <url-pattern>/ServletAutor</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ServletCargo</servlet-name>
        <url-pattern>/ServletCargo</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ServletCliente</servlet-name>
        <url-pattern>/ServletCliente</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ServletEditorial</servlet-name>
        <url-pattern>/ServletEditorial</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ServletIdioma</servlet-name>
        <url-pattern>/ServletIdioma</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ServletLibros</servlet-name>
        <url-pattern>/ServletLibros</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>InsertaLibros</servlet-name>
        <url-pattern>/InsertaLibros</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ServletMateria</servlet-name>
        <url-pattern>/ServletMateria</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ServletNotaVenta</servlet-name>
        <url-pattern>/ServletNotaVenta</url-pattern>
    </servlet-mapping>



    <servlet-mapping>
        <servlet-name>UpdateAlmacen</servlet-name>
        <url-pattern>/UpdateAlmacen</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UpdateAutor</servlet-name>
        <url-pattern>/UpdateAutor</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UpdateCargo</servlet-name>
        <url-pattern>/UpdateCargo</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UpdateCliente</servlet-name>
        <url-pattern>/UpdateCliente</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UpdateEditorial</servlet-name>
        <url-pattern>/UpdateEditorial</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UpdateEmpleado</servlet-name>
        <url-pattern>/UpdateEmpleado</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UpdateEstante</servlet-name>
        <url-pattern>/UpdateEstante</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UpdateIdioma</servlet-name>
        <url-pattern>/UpdateIdioma</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UpdateLibros</servlet-name>
        <url-pattern>/UpdateLibros</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UpdateMateria</servlet-name>
        <url-pattern>/UpdateMateria</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UpdateNotaVenta</servlet-name>
        <url-pattern>/UpdateNotaVenta</url-pattern>
    </servlet-mapping>

</web-app>




